.navbar-nav {
    background-color: black;
}
.navbar {
    background-color: black;
    max-height: 30%;
}

.nav-link, i {
    color: white;
}

@media screen and (max-width: 994px) {
    .nav-link:hover {
        background-color: #7ED957;
        color: white;
    }
}