@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
}


img {
  width: 200px;
}


header {
  height: 30vh;
  display: flex;
  width: 100%;
  justify-content: center;

}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  color: white;
}

li:hover {
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, .1);
}

li:hover::before,
li:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  background: #6aff4c;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

li:hover:after {
  background: #72f8b5;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }

  12% {
    top: -2px;
    left: 2px;
  }

  25% {
    top: 0;
    left: 5px;
  }

  37% {
    top: 2px;
    left: 2px;
  }

  50% {
    top: 5px;
    left: 0;
  }

  62% {
    top: 2px;
    left: -2px;
  }

  75% {
    top: 0;
    left: -5px;
  }

  87% {
    top: -2px;
    left: -2px;
  }

  100% {
    top: -5px;
    left: 0;
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }

  12% {
    top: -2px;
    right: 2px;
  }

  25% {
    top: 0;
    right: 5px;
  }

  37% {
    top: 2px;
    right: 2px;
  }

  50% {
    top: 5px;
    right: 0;
  }

  62% {
    top: 2px;
    right: -2px;
  }

  75% {
    top: 0;
    right: -5px;
  }

  87% {
    top: -2px;
    right: -2px;
  }

  100% {
    top: -5px;
    right: 0;
  }
}

.logingPage {
  height: 70vh;
  display: flex;
  justify-content: center;
  background: url(/assets/img/cover.png);
  background-size: cover;
  background-position: center;
}

.container1 {
  width: 50%;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
}

.container2 {
  width: 50%;
  height: 70vh;
}


a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 720px) {

  .socialNetwork {
    height: 150px;
    width: 150px;
    align-self: absolute;
    bottom: 0;
    left: 0;
  }

  .insta,
  .fb,
  .twit {
    width: 45px;
    height: 45px;
    opacity: 0.5;
  }
}

.insta,
.fb,
.twit {
  margin-right: 0px;
  width: 45px;
  height: 45px;
  opacity: 0.5;
}


#demo {
  width: 400px;
  height: 100px;
  color: #7ED957;
  position: absolute;
  font-size: 40px;
  font-family: "Montserrat";
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 5px solid white;
}

.textTime {
  font-size: 20px;
  color: #7ED957;
  display: flex;
  width: 100%;
  margin-left: 100px;
  margin-top: 10px;
}

i {
  color: white;
}