@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body main {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

img {
  width: 200px;
}


header {
  height: 30vh;
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

  
li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  color: white;
}
  
li:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}
  
li:hover::before, li:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  background: #6aff4c;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}
  
li:hover:after {
  background: #72f8b5;
  animation: 2s counterclockwise infinite;
}
  
@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

.landingPage {
  height: 70vh;
  display: flex;
  background: url(/assets/img/unknown3);
  background-size: cover;
  background-position: center;
}

.container1 {
  width: 60%;
  height: 70vh;
  background: black;
  opacity: 0.9;  
}

.container2 {
  width: 40%;
  height: 70vh;
  background: black;
  opacity: 0.9;
}


a {
  text-decoration: none;
  color: white;
  }

.socialNetwork {
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  
}

.insta {
  width: 45px;
  height: 45px;
  opacity: 0.5;
}

.fb {
  width: 45px;
  height: 45px;
  opacity: 0.5;
}

.twit {
  width: 45px;
  height: 45px;
  opacity: 0.5;
}

.description{
  color: white;
  font-size: 20px;
  font-family: "MontSerrat";
  text-align: center;
  font-weight: 100px;
}

img.event{
  width: 50%;
  height: 300px;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 15px;
  margin-left: 150px;
  margin-top: 75px;
}

strong {
color: #7ED957;;
}