@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body main {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  background-color: black;
}

img {
  width: 200px;
}


header {
  height: 30vh;
  display: flex;
  width: 100%;
  justify-content: center;
  
}

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

  
li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 150px;
  height: 150px;
  background: black;
  border-radius: 75px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 2px;
  transition: 1s box-shadow;
  color: white;
}
  
li:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}
  
li:hover::before, li:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 150px;
  height: 150px;
  background: #6aff4c;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}
  
li:hover:after {
  background: #72f8b5;
  animation: 2s counterclockwise infinite;
}
  
@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

.landingPage {
  height: 70vh;
  display: flex;
  background: url(/assets/img/unknown3);
  background-size: cover;
  background-position: center;
}

.container1 {
  width: 50%;
  height: 70vh;
  background: black;
  opacity: 0.9;
  display: flex;
  flex-wrap: wrap;

}

.container2 {
  width: 50%;
  height: 70vh;
  background: black;
  opacity: 0.9;
}


a {
  text-decoration: none;
  color: white;
  }

.socialNetwork {
  height: 150px;
  width: 75px;
  padding-left: 30px;
}

.insta {
  width: 45px;
  height: 45px;
  opacity: 0.5;
}

.fb {
  width: 45px;
  height: 45px;
  opacity: 0.5;
}

.twit {
  width: 45px;
  height: 45px;
  opacity: 0.5;
}

/* Ajout css Formulaire */

.formHeader {
  color: #7ED957;
  position: relative;
  height: 50px;
  padding-bottom: 50px;
  margin: auto;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#formContact {
  position: relative;
  width: 500px;
  height: 308px;
  margin: auto;
  border: solid 5px #7ED957;
  border-radius: 30px;
  box-shadow: 10px 5px 5px #7ED957;
}

.fix {
  font-size: 0.875em;
  width: 470px;
  height: 20px;
  vertical-align: middle;
  margin: auto;
  padding: 15px;
  
  background: black;
  color: #7ED957;
  
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px #7ED957;
  border-collapse: collapse;
}

input {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px #7ED957;
  border-collapse: collapse;
  
  transition: all 0.3s ease-in-out;
}

.standard {
  background: black;
  font-size: 0.775em;
  font-style: italic;
  width: 470px;
  height: 50px;
  margin: auto;
  padding: 0px 15px 0px 15px;
}

#nameContact {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

textarea {
  background: black;
  
  color: #7ED957;
  font-style: italic;

  margin: auto;
  
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px #7ED957;
  border-collapse: collapse;
  
  transition: all 0.3s ease-in-out;
}

input::placeholder, textarea::placeholder {
  color: #7ED957;
}

input:hover, textarea:hover {
  background: #7ED957;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: white;
}

.text {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  margin: auto;
}

#submit {
  width: 100px;
  height: 30px;
  margin: 15px 0px 0px 195px;
  text-align: center;
  padding-top: 3px;
  
  font-size: 0.875em;
  color: #7ED957;
  
  cursor: pointer;

  border: dashed 3px #7ED957;
  border-collapse: collapse;
  border-radius: 20px;
}

#submit:hover {
  color: white;
}

/* Ajout css Texte */

h2 {
  color: white;
  padding-left: 15px;
  font-size: 20px;
}

p {
  color: white;
  padding-left: 15px;
  font-size: 20px;
}

.infoContact {
  color: #7ED957;
}

.title2 {
  text-decoration: underline #7ED957;
}

.map {
  width: "400"; 
  height: "300";
  padding-left: 50px;
  border: none;
}

.text2 {
  width: 100%;
}