@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body main {
    font-family: "Montserrat";
    overflow-x: hidden !important;
}

body, .navbar-nav {
    background-color: black;
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
/* Navbar */
.navbar {
    background-color: black;
    max-height: 30%;
}

.nav-link, .title2, h3, p, i  {
    color: white;
}

h1, h2 {
    color: #7ED957;
}

.title2 {
    text-decoration: underline #7ED957;
}

/* Form */
.formContact {
    border: solid 5px #7ED957;
    border-radius: 30px;
    box-shadow: 10px 5px 5px #7ED957;
    height: auto;
}

.button {
    background-color: white;
    color: #7ED957;
    cursor: pointer;
    border: dashed 3px #7ED957;
    border-radius: 20px;
}

.button:hover {
    color: white;
    background-color: #7ED957;
    border: dashed 3px #7ED957
}

.form-control {
    background: black;
    color: #7ED957;
    font-style: italic;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px #7ED957;
    border-collapse: collapse;
    transition: all 0.3s ease-in-out;
    height: auto;
}

input::placeholder, .form-control::placeholder {
    color: #7ED957;
}

input:hover, .form-control:hover {
    background: #7ED957;
}

input:hover::placeholder, .form-control:hover::placeholder {
    color: white;
}
/* Form */
/* effect navbar sm */

@media screen and (max-width: 994px) {
    .nav-link:hover {
        background-color: #7ED957;
        color: white;
    }
}
